#ap_detail_panel {
	padding: 1.7rem 0 0;
	display: none;
	position: fixed;
	bottom: 0;
	height: 25rem;
}

#ap_detail_panel_content {
	background-color: $mainColor;
	z-index: 2000;
	width: 100vw;
	height: 25rem;
	border: 0;
	border-top: 1px #b5b5b5 solid;
	box-shadow: 7px -1px 5px 1px rgba(0,0,0,0.26);
}

.ap_detail_panel_minimized {
	height: 0.5rem !important;
}
/* The tab headers */
.ap_tab,
.ap_tab_pinned {
	border-radius: 0.3rem 0.3rem 0 0;
	background-color: #868686;
	border-top: 1px #b5b5b5 solid;
	position: absolute;
	top: 0;
	margin: 0;
	width: 6rem;
	text-align: left;
	padding: 0 0.4rem;
	font-family: sans-serif;
	font-weight: 700;
	line-height: 1.6rem;
	height: 1.62rem;
}

#ap_button_panelToggle {
	font-family: FontAwesome;
}

.ap_tab.open,
.ap_tab_pinned {
	z-index: 2010;
	border: 1px 1px 0 1px solid #b5b5b5;
	border-bottom: 1px solid #BFBFBF;
	background-color: #BFBFBF;
}

.ap_tab_pinned {
	line-height: 1.9rem;
	text-align: center;
	width: 3.2rem;
	border-bottom: 1px #9E9E9E solid;
	background-color: #9E9E9E;
}
/* The tab content */
#ap_annotation_sourcetext {
	font-family: sans-serif;
	font-size: 0.9rem;
	color: #00000087;
	padding: 4rem 2rem 0;
	height: 21rem;
	float: left;
	width: 30%;
	font-style: italic;
	background-color: #00000017;
	overflow: auto;
}

#ap_annotation_annotation {
	font-family: sans-serif;
	padding: 4rem 2rem 0;
	margin: 0;
	background-color: #e8e8e8;
	overflow: auto;
	height: 21rem;
}

#ap_annotation_annotation img {
	float: right;
	margin: 1rem 0 1rem 1rem;
	max-width: 60%;
	border: 1px solid #80808024;
}

#ap_annotation_annotation p {
	margin: 0 0 1rem;
	font-family: sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
}
#ap_annotation_sourceinfo td{
  border-left:2px solid #ababab;
  padding:0 .5rem 0 .3rem;
  white-space: nowrap;
}
#ap_annotation_sourceinfo {
	font-family: sans-serif;
	background-color: #e6e5e5;
	width: 100%;
	position: fixed;
	padding: 0.4rem;
	min-height:1.6rem;
	border-bottom: 1px solid #b3b3b3;
}

#ap_annotation_sourceinfo .typeIndicator {
	padding: 0.2rem;
	margin: 0.5rem;
	display: inline-block;
}

#ap_annotation_sourceInfoText {
	line-height: 2.3rem;
	margin-left: 0.8rem;
}

.ap_filterSet {
	color: #00000080;
	font-family: sans-serif;
	padding: 1rem;
	display: block;
	width: 18%;
	height: 100%;
	float: left;
	height: 25rem;
	border: 1px solid #00000017;
	overflow: hidden;
}

.activeSet {
	color: black;
	background-color: #2196f31f;
}

.tagSet {}

.categorySet {}

.peopleSet {}

#ap_filter_category,
#ap_filter_people,
#ap_filter_tags {
	overflow: auto;
	height: 21rem;
	border: 1px dashed #0000001c;
	background-color: #ffffff30;
	padding: 0.5rem;
	border-radius: 0.3rem;
}

.filterOption {
	overflow: hidden;
	font-family: sans-serif;
	font-size: 0.8rem;
	white-space: nowrap;
	background-color: #f1f1f1;
	border-radius: 0.3rem;
	border: 1px #8080807a solid;
	padding: 0.3rem;
	margin: 0;
}

.filterOption:hover {
	font-weight: 700;
}

.filterOption.active:hover {
	/*color: red;*/
}
// Icons for tag options
.categoryOption::before,
.personOption::before,
.tagOption::before {
	font-family: FontAwesome;
	font-size: 1rem;
	line-height: 1.2rem;
	display: inline-block;
	padding-right: .3rem;
}

.tagOption::before {
	color: #00806c;
	content: "\f02b";
}

.personOption::before {
	padding-right: 0.5rem;
	color: #2196F3;
	content: "\f007";
}

.categoryOption::before {
	color: #943a00;
	content: "\f02d";
}
// Add
.filterOption:hover::before {
	color: green;
	content: "\f055";
}
// Remove

.filterOption.active:hover::before {
	color: red;
	content: "\f056";
}

#button_filterApplied {
	display: inline-block;
	float: left;
	padding: 0 0.3rem 0 0;
}

.fa_button {
	font-size: 1.3rem;
	padding: 0 0.2rem 0 0;
}

#button_filterAppliedStatus.on::before {
	content: "Filter: ON";
	line-height: 1.7rem;
}

#button_filterAppliedStatus.off::before {
	content: "Filter: OFF";
	line-height: 1.7rem;
}

#button_filterApplied {
	font-size: 1.5rem;
}

.ap_filterSet hr {
	border: 0;
	border-bottom: 1px dashed #00000017;
}
