@charset "utf-8";

/* Normalize first */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"); // Google fonts
@import url("https://fonts.googleapis.com/css?family=Lato|Oswald|Dosis");

/* FontAwesome icon font http://fontawesome.io/ */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

$mainColor: #BFBFBF;
$tagColor: red;
$categoryColor: green;
$userColor: blue;
$highlightColor: #ffd105;
$focusColor:$highlightColor;

@import "base";
@import "popover";

@import "detailPanel";
